.label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin: 0.5rem 0rem 0.5rem 2rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
}

.input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 90%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
}

.input:placeholder-shown+.label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
}

.searchFrom {
    width: 400px;
}

.matchList {
    margin-top: 5px;
    width: 300px;
    height: 150px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
}

.matchList::-webkit-scrollbar {
    display: none;
}

.matchList .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
}

.dataItem p {
    margin-left: 10px;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: lightgrey;
}